.App {
  text-align: center;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner-component-height {
  height: calc(100% - 60px);
  overflow: auto;
  justify-content: center;
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.row_list_item {
  border-radius: 8px;
  padding: 10px;
  /* height: 35px; */
  width: 100%;
  overflow: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* margin: 0px; */
  box-shadow: 0px 10px 10px #747a880d;
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.basic-font {
  font-family: 'Poppins' !important;
}

.basic-font-regular {
  font-family: 'Poppins-Regular' !important;
}

.basic-font-color {
  color: #747a88 !important;
}

.basic-font-color-bold {
  color: #454c66 !important;
}

.margin-10 {
  margin: 10px;
}

.screen-title-basic {
  text-align: left;
  font: normal normal 600 24px/29px Poppins;
  letter-spacing: 0px;
  color: #454c66;
  opacity: 1;
}

.screen-description-basic {
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  font: Poppins-Medium 20px Poppins;
  letter-spacing: 0px;
  color: #747a88;
  opacity: 1;
}

.row-list-item {
  border-radius: 8px;
  padding: 10px;
  /* height: 35px; */
  width: 100%;
  overflow: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* margin: 0px; */
  box-shadow: 0px 10px 10px #747a880d;
  padding: 15px;
}
